h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

h1, #header {
  color: rgb(8, 8, 8);
  text-align: center;
  flex-grow: 1;
}

.header_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.2em solid rgb(8, 8, 8);
    border-bottom: 0.2em solid rgb(8, 8, 8);
    margin-top: 1em;
    margin-bottom: 1em;
}

#login_box {
  background-color: #bebaba;
  color: rgb(8, 8, 8);
  font-family: "Times New Roman", serif;
  margin: 0.7em;
  padding: 0.7em;
  display: flex;
  border: 0.2em solid rgb(8, 8, 8);
}

#input {
  display: inline-block;
  vertical-align: top;
}

#options {
  display: inline-block;
  margin-left: 1em;
}


a {
    color: #2a9df4;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}


.list {
    width: 20%;
    margin: 1%;
    border: thick double #35393a;
    background-color: #e1dddd;
    border-radius: 1%;
    box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5);
}

.top-left,
.top-middle,
.top-right,
.bottom-left,
.bottom-middle,
.bottom-right {
    vertical-align: top;
    display: inline-block;
    margin: 0.3%;
    border: thick double #35393a;
    background-color: #e1dddd;
    border-radius: 1%;
    box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5);
}


button {
    background-color: rgb(0, 255, 170);
    color: #111;
    border-radius: 0.1em;
    border: 0.1em thin #111;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0.1em;
    box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: darkgoldenrod;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f4f4f4;
  margin-bottom: 8px; 
  padding: 10px; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease, background-color 0.3s ease; 
}

li:hover {
  transform: scale(1.05); 
  background-color: #e9e9e9; 
}

li span {
  color: #333;
  font-size: 16px; 
}